name: CD

on:
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*"

env:
  REGISTRY: ghcr.io
  IMAGE_BACK: ${{ github.repository_owner }}/orion-microcrm-back
  IMAGE_FRONT: ${{ github.repository_owner }}/orion-microcrm-front

jobs:
  publish-images:
    name: Build & Push Docker Images
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Back image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          target: back
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_BACK }}:${{ github.ref_name }}
            ${{ env.REGISTRY }}/${{ env.IMAGE_BACK }}:latest

      - name: Build & Push Front image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          target: front
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_FRONT }}:${{ github.ref_name }}
            ${{ env.REGISTRY }}/${{ env.IMAGE_FRONT }}:latest
